#no-expenses {
  text-align: center;
}

#no-expenses a {
  color: var(--color-primary-100);
}

#expenses-actions {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#expenses-actions a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-primary-800);
  background-color: var(--color-primary-10);
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}

#expenses-actions a:hover {
  background-color: var(--color-gray-100);
}

#expenses-actions a:last-of-type {
  background-color: transparent;
  color: var(--color-gray-10);
}

#expenses-actions a:last-of-type:hover {
  background-color: transparent;
  color: var(--color-gray-100);
}

#expenses-list {
  max-width: 32rem;
  margin: 2rem auto;
}

.expense-item {
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: var(--color-primary-300);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--color-gray-10);
}

.expense-item.locked {
  justify-content: center;
  background-color: var(--color-primary-200);
}

.expense-title {
  margin: 0;
}

.expense-amount {
  margin: 0;
}

.expense-actions {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.expense-actions button,
.expense-actions a {
  background-color: transparent;
  border: none;
  color: var(--color-gray-10);
  padding: 0;
}

.expense-actions button:hover,
.expense-actions a:hover {
  color: var(--color-primary-100);
}

#expense-form {
  padding: 1rem;
}

#expense-form .form-actions {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#expense-form a {
  color: var(--color-gray-400);
}

#expense-form a:hover {
  color: var(--color-gray-500);
}

.chart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  gap: 0.75rem;
  padding: 1.5rem;
  border-radius: 6px;
  border: 2px solid var(--color-gray-10);
}

.chart-bar--inner {
  height: 10rem;
  /* border: 1px solid var(--color-primary-10); */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar--fill {
  border-radius: 4px;
  background-color: var(--color-primary-200);
}

.chart-bar--label {
  margin-top: 0.5rem;
}

#expense-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

#expense-statistics dt {
  color: var(--color-primary-100);
}

#expense-statistics dd {
  margin: 0;
  color: var(--color-primary-10);
  font-size: 2rem;
}

#expenses-analysis {
  max-width: 54rem;
  margin: 2rem auto;
}
